body {
    position: relative;
    width: 1200px;
    height: 2336px;
    left: 300px;
    
    font-family: 'Courier New', Courier, monospace;
      
}


.header_a {
    position: absolute;
    width: 91px;
    height: 16px;
    left: 152px;
    top: 45px;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 16px;
    /* identical to box height, or 80% */

    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: #FFFFFF;
}


#header_list {
    position: absolute;
    width: 500px;
    
    height: 16px;
    left: 340px;
    top: 45px;

    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    /* identical to box height, or 114% */

    letter-spacing: 0.2em;
    text-transform: uppercase;

}

#header_list li {  
    display: inline-block;
    margin: 0 10px;
}

.header_list_links {
    text-decoration: none;
    color: #FFFFFF;
}

#header_line {
    position: absolute;
    width: 80px;
    height: 0px;
    left: 166px;
    top: 30px;

    border: 2px solid #FFFFFF;
}


.hero {
    position: absolute;
    width: 1200px;
    height: 800px;
    left: 0px;
    top: -10px;

    background: url(../assets/background.png);
}

.hero_h1 {
    position: absolute;
    width: 386px;
    height: 118px;
    left: 407px;
    top: 328px;
    
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    /* or 133% */
    
    text-align: center;
    
    color: #FFFFFF;
}

.hero_p1 {
    /* Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do eiusmod. */
    position: absolute;
    width: 426px;
    height: 56px;
    left: 387px;
    top: 488px;

    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    /* or 133% */

    text-align: center;

    color: rgba(255, 255, 255, 0.7);
}

.placeholder_logo {
    position: absolute;
    width: 63px;
    height: 63px;
    left: 568px;
    top: 290px;
    
    /* background: #55C2D8;     */
}


.main {
    position: absolute;
    width: 1200px;
    height: 800px;
    left: 10px;
    top: 790px;
}

.main_paragraph {
    position: inherit;
    width: 983px;
    height: 194px;
    left: 97px;
    top: 350px;

    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    /* or 138% */
    text-align: center;
    color: #000000;
}

.main_h1 {
    position: absolute;
    width: 669px;
    height: 119px;
    left: 265px;
    top: 0px;

    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    /* or 133% */

    text-align: center;

    color: #464547;
}

.main_h2 {
    /* Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do eiusmod. */
    position: absolute;
    width: 426px;
    height: 57px;
    left: 387px;
    top: 200px;

    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    /* or 133% */

    text-align: center;

    color: #666666;
}

.main_button {
    /* Content-button */
    position: absolute;
    width: 115px;
    height: 36px;
    left: 542px;
    top: 596px;
}

#rectangle_main {
    position: absolute;
    width: 1200px;
    height: 800px;
    left: -10px;
    top: 0px;

    background: #EEEEEE;
}


.learn_more_block {
    position: absolute;
    width: 480px;
    height: 492px;
    left: 360px;
    top: 0px; 
    
}

.learn_more_h2 {
    /* Learn more about our culture... */
    position: absolute;
    width: 480px;
    height: 117px;
    left: 0px;
    top: 10px;

    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    /* or 133% */

    text-align: center;

    color: #ffffff;
}

.learn_more_p {
    /* Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. */
    position: absolute;
    width: 390px;
    height: 102px;
    left: 35px;
    top: 400px;

    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    /* or 133% */

    text-align: center;

    color: #ffffff;
}

.learn_more_button {
    /* Learn-more-button */
    position: absolute;
    width: 150px;
    height: 150px;
    left: 155px;
    top: 220px;
}

#learn_more_rectangle {
    /* Rectangle */
    position: absolute;
    width: 1200px;
    height: 666px;
    left: 0px;
    top: 0px;

    background: rgba(140, 79, 42, 0.3);
}

.learn_more {
    position: absolute;
    width: 1200px;
    height: 800px;
    left: 0px;
    top: 1590px;

    background-image: url(../assets/background_2.png);
    
}

.footer {
    position: absolute;
    width: 1200px;
    height: 170px;
    left: 10px;
    top: 2255px;
}

.footer_logo {
    position: absolute;
    width: 128px;
    height: 20px;
    left: 145px;
    top: 0px;    
}

#footer_logo_img {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 0px;
    top: 15px;
}

#footer_p {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 30px;
    top: 0px;
    
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 16px;
    /* identical to box height, or 89% */

    letter-spacing: 0.2em;
    text-transform: uppercase;

    color: #FFFFFF;
}

#contacts {
    /* Contacts */
    position: absolute;
    width: 240px;
    height: 22px;
    left: 140px;
    top: 10px;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    /* or 119% */


    color: rgba(255, 255, 255, 0.4);
}

#contacts_street {
    position: absolute;
    width: 174px;
    height: 33px;
    left: 0px;
    top: 20px;

    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    /* or 119% */


    color: rgba(255, 255, 255, 0.4);
}

#contacts_email {
    /* hello@website.com */


    position: absolute;
    width: 142px;
    height: 22px;
    left: 0px;
    top: 80px;

    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    /* or 119% */


    color: rgba(255, 255, 255, 0.4);
}

#contacts_paragraph {
    /* © 2021 Project. All rights reserved */
    position: absolute;
    width: 243px;
    height: 20px;
    left: 0px;
    top: 90px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: rgba(255, 255, 255, 0.4);   
}

#rectangle{
    /* Rectangle 11 */
    position: absolute;
    width: 1200px;
    height: 170px;
    left: -10px;
    top: 0px;
    background: #464547;
}